@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* respeitar os limites impostos pelas caixas sem somar */
}

ul {
    list-style-type: none;
}

body {
    background-image: url(../images/Fundo.jpg);
    background-position: top center;
    /* posição do background, comecará no top e central */
    background-size: 100% auto;
    /* tamanho da imagem vai ser 100% horizontal width e vertical vai ser auto */
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    /* altura da linha da fonte */
}

header {
    padding-top: 32px;
    /* É preciso adicionar um valor para o header se não ao adicionar a animação, ele le o html e depois acrescenta a imagem, bugando o sistema */
    height: 142px;

    /* text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; */
}

header div{
    animation: fromTop 0.9s 0.1s backwards;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 4px;

    /* adicione uma transfição de transforme de 0.3s quando passar o mouse nesse elemento*/
    transition: transform .3s; 

}

header div:hover{
    transform: scale(1.1);
    /* transition: 0.5s; */
}

header img {

    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    /* se a tela for menor que 580 px de largura, então o width dela será de 90% dela mesma*/
    margin: 32px auto;
    
    /* deixa as margens automaticas para poder utilizar 90% de width da tela */
    display: flex;
    flex-direction: column; /*vai deixar um elemento embaixo do outro*/
    gap: 24px;
}

section {
    animation: fromBottom 0.9s backwards;
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div{
    background-color: rgba(42, 38, 52, 1);
    border-radius: 8px;
    padding: 32px;
    padding-top: 24px;
}


section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #A1A1AA;
    letter-spacing: -0.18px;
}

section ul {
    display: flex;
    gap: 16px; /*Espaço entre os elementos dentro de li*/
    margin-top: 24px;
    flex-wrap: wrap; /* se não der pra colocar outra caixa, ele manda pra baixo*/
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}

.games-list img{
    width: 90px;
    border-radius: 8px;
}

.channel-list img{
    width: 70px;
    border: 1px solid rgba(68, 62, 84, 1);
    border-radius: 50%;
}

/* animation */

@keyframes fromTop{
    /* vai comecar em ocapidade de 0 e vir de -30px de onde está setado */
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    /* e termina com 1 de ocapidade no local em que foi setado */
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* começar uma animação após a outra utilizando numeração de filhos */

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}